<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/satriabot99" target="_blank"
    >
      SatriaAI
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/satriabot99/satriachatgpt" target="_blank"
    >
      Sourcode
    </a>
  </p>
</footer>
