---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Mahes</span>
    <span class="gpt-subtitle">AI</span>
  </div>
  <p mt-1 op-60>MahesAI Adalah Teknologi Kecerdasan Buatan (AI).</p>
</header>
