---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Mahesa</span>
    <span class="gpt-subtitle">AI</span>
  </div>
  <p mt-1 op-60>MahesaAI Adalah Teknologi Kecerdasan Buatan (AI). By Mahesa Herlambang</p>
</header>
